body{
	background-color: #FF8C00; 
}
h1{
	color: #ffffff;
	 text-align: center; 
}

/**company name in nav bar**/
h5{
	color: #666699;
}

/**navbar**/
.navbar {
	background-color: #000000;
}

.navbar-brand{
	color:#ffffff;
}

.nav-link{
	color: #666699;
}

.thispage{
	  text-decoration: overline dotted #FF8C00;
}

/**end of navbar**/
.container {
    background-color: #000000;
}
/**about page container**/
.about{
	background-image: ;
}
.row {
    background-color:#FF8C00;
}
/**carousel**/
.carousel-item {
  min-height: 550px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.colorpurple{
	background-color: #666699;
}
.colororange{
	color:#FF8C00;
}

