body{
	background-color: #FF8C00; 
}
h1{
	color: #ffffff;
	 text-align: center;
	 font-family: 'Happy Monkey', cursive;
	font-size: 2.5em; 
}
h3{
font-family: 'Happy Monkey', cursive;
	font-size: 2.5em;}

/**company name in nav bar**/
h5{
	color: #666699;
}

/**navbar**/
.navbar {
	background-color: #000000;
}

.navbar-brand{
	color:#ffffff;
}

.nav-link{
	color: #666699;
}

.thispage{
	  text-decoration: overline dotted #FF8C00;
}

/**end of navbar**/
.container {
    background-color: #000000;
}
/**about page container**/
.about{
	background-image: ;
}
.row {
    background-color:#FF8C00;
}
/**carousel**/

.colorpurple{
	background-color: #666699;
}
.colororange{
	color:#FF8C00;
}
	.rotate-scale-up{
	      animation: rotate-scale-up linear 1s both;
			animation-delay:.2s;
	-moz-animation: rotate-scale-up linear 1s both;
			-moz-animation-delay:.2s;
	      -o-animation: rotate-scale-up linear 1s both;
			-o-animation-delay:.2s;
	     -ms-animation: rotate-scale-up linear 1s both;
			-ms-animation-delay:.2s;
	-webkit-animation: rotate-scale-up linear 1s both;
			-webkit-animation-delay:.2s;
}
@-webkit-keyframes rotate-scale-up{
  0% {     
	  transform: scale(1) rotate(0);
	 	-ms-transform: scale(1) rotate(0);
    	-webkit-transform: scale(1) rotate(0);
        -moz-transform: scale(1) rotate(0);
	     -o-transform: scale(1) rotate(0);
  }
  50% {
	  transform: scale(2) rotate(180deg);
    -moz-transform: scale(2) rotate(180deg);
    -o-transform: scale(1.25) rotate(180deg);
	-webkit-transform: scale(2) rotate(180deg);
	-ms-transform: scale(2) rotate(180deg);
	
  }
  100% {
	    transform: scale(1) rotate(360deg);
	   -moz-transform: scale(1) rotate(360deg);
	   -o-transform: scale(1) rotate(360deg);
	   -webkit-transform: scale(1) rotate(360deg);
	   -ms-transform: scale(1) rotate(360deg);
  }
}