
.container {
    background-color: black;
}
.row {
    background-color: white;
}

[class^="col-"]:first-child {
    background-color: red;
}

[class^="col-"]:last-child {
    background-color: blue;
}

