
.navbar {background-color: gray;}

.container {
    background-color: black;
}


[class^="col-"]:first-child {
    background-color: red;
}

[class^="col-"]:last-child {
    background-color: blue;
}


.jumbotron {
    margin-bottom: 0px;
    background-color: black;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.btn {background-color:blue;}
